---
layout: page-default
heading: blog
title: Blog
subheading: my journey as an engineer
description: This blog on Deep Learning, VLSI Design and STA is written by Gogul Ilango. Master VLSI Design, Physical Design, Static Timing Analysis, Deep Learning through my articles, tutorials and resources.
color: grad-blog
image: images/gi-logo.jpg
permalink: /
---

{% include colorful-header.html %}

<div class="home-container">
  <div class="home-articles">
    <div class="home-wrapper">

    <div class="category-tab" id="category-tab">
      <ul>
        <li id="tab_asic_design" onclick="showTabBox(this.id)">asic design</li>
        <li id="tab_deep_learning" onclick="showTabBox(this.id)">deep learning</li>
        <li id="tab_machine_learning" onclick="showTabBox(this.id)">machine learning</li>
        <li id="tab_computer_vision" onclick="showTabBox(this.id)">computer vision</li>
        <li id="tab_environment_setup" onclick="showTabBox(this.id)">environment setup</li>
        <li id="tab_code" onclick="showTabBox(this.id)">programming</li>
        <li id="tab_tools" onclick="showTabBox(this.id)">tools</li>
        <li id="tab_resources" onclick="showTabBox(this.id)">resources</li>
      </ul>
    </div>

      <!--PD STARTS-->
      <div class="blog-category-box" id="box_asic_design">
        <div class="category-box vlsi-box-special">
          <h4><span>Static Timing Analysis</span></h4>
          <ul>
            {% for post in site.posts %}
              {% if post.categories contains 'hardware' %}
                {% if post.class contains 'STA Concepts' %}
                    <li>
                      <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">
                          <div class='inner_box'>
                            <img src="{{ post.cardimage }}" />
                            <h3>{{ post.title }}</h3>
                            <p>{{ post.description }}</p>
                            <p class='front-date'>{{ post.date | date_to_long_string }}</p>
                          </div>
                      </a>
                    </li>
                  {% endif %}
                {% endif %}
            {% endfor %}
          </ul>
          <h4><span>Power Distribution Network</span></h4>
          <ul>
            {% for post in site.posts %}
              {% if post.categories contains 'hardware' %}
                {% if post.class contains 'PDN Concepts' %}
                  <li>
                    <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">
                        <div class='inner_box'>
                          <img src="{{ post.cardimage }}" />
                          <h3>{{ post.title }}</h3>
                          <p>{{ post.description }}</p>
                          <p class='front-date'>{{ post.date | date_to_long_string }}</p>
                        </div>
                    </a>
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
          <h4><span>Physical Design</span></h4>
          <ul>
            {% for post in site.posts %}
              {% if post.categories contains 'hardware' %}
                {% if post.class contains 'PD Concepts' %}
                  <li>
                    <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">
                        <div class='inner_box'>
                          <img src="{{ post.cardimage }}" />
                          <h3>{{ post.title }}</h3>
                          <p>{{ post.description }}</p>
                          <p class='front-date'>{{ post.date | date_to_long_string }}</p>
                        </div>
                    </a>
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
          <h4><span>Intelligence in Physical Design</span></h4>
          <ul>
            {% for post in site.posts %}
              {% if post.categories contains 'hardware' %}
                {% if post.class contains 'ML for PD' %}
                  <li>
                    <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">
                        <div class='inner_box'>
                          <img src="{{ post.cardimage }}" />
                          <h3>{{ post.title }}</h3>
                          <p>{{ post.description }}</p>
                          <p class='front-date'>{{ post.date | date_to_long_string }}</p>
                        </div>
                    </a>
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--PD ENDS-->

      <!--DL STARTS-->
      <div class="blog-category-box" id="box_deep_learning">
        <div class="category-box">
          <ul>
            {% for post in site.posts %}

            {% if post.category contains 'software' %}
            {% if post.class contains 'Deep Learning' %}
            <li>
              <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">
                  <div class='inner_box'>
                    <img src="{{ post.cardimage }}" />
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.description }}</p>
                    <p class='front-date'>{{ post.date | date_to_long_string }}</p>
                  </div>
               </a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--DL ENDS-->

      <!--ML STARTS-->
      <div class="blog-category-box" id="box_machine_learning">
        <div class="category-box">
          <ul>
            {% for post in site.posts %}

            {% if post.category contains 'software' %}
            {% if post.class contains 'Machine Learning' %}
            <li>
              <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">
                  <div class='inner_box'>
                    <img src="{{ post.image }}" />
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.description }}</p>
                    <p class='front-date'>{{ post.date | date_to_long_string }}</p>
                  </div>
              </a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--ML ENDS-->

      <!--COMPUTER VISION STARTS-->
      <div class="blog-category-box" id="box_computer_vision">
        <div class="category-box">
          <ul>
            {% for post in site.posts %}
            {% if post.category contains 'software' %}
            {% if post.class contains 'Computer Vision' %}
            <li>
              <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">
                  <div class='inner_box'>
                    <img src="{{ post.image }}" />
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.description }}</p>
                    <p class='front-date'>{{ post.date | date_to_long_string }}</p>
                  </div>
              </a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--COMPUTER VISION ENDS-->
      
      <!--ENVIRONMENT SETUP STARTS-->
      <div class="blog-category-box" id="box_environment_setup">
        <div class="category-box">
          <ul>
            {% for post in site.posts %}
            {% if post.category contains 'software' %}
            {% if post.class contains 'Environment Setup' %}
            <li>
              <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">
                  <div class='inner_box'>
                    <img src="{{ post.image }}" />
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.description }}</p>
                    <p class='front-date'>{{ post.date | date_to_long_string }}</p>
                </div>
              </a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--ENVIRONMENT SETUP ENDS-->
      <!--CODE STARTS-->
      <div class="blog-category-box" id="box_code">
        <div class="category-box">
          <ul>
            {% for post in site.posts %}
            {% if post.category contains 'software' or post.category contains 'hardware' %}
            {% if post.class contains 'Code' %}
            <li>
              <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">
                  <div class='inner_box'>
                    <img src="{{ post.image }}" />
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.description }}</p>
                    <p class='front-date'>{{ post.date | date_to_long_string }}</p>
                </div>
              </a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--CODE ENDS-->
      <!--TOOLS STARTS-->
      <div class="blog-category-box" id="box_tools">
        <div class="category-box">
          <ul>
            {% for post in site.posts %}
            {% if post.category contains 'software' %}
            {% if post.class contains 'Tools' %}
            <li>
              <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">
                  <div class='inner_box'>
                    <img src="{{ post.image }}" />
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.description }}</p>
                    <p class='front-date'>{{ post.date | date_to_long_string }}</p>
                </div>
              </a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--TOOLS ENDS-->
      <!--RESOURCES STARTS-->
      <div class="blog-category-box" id="box_resources">
        <div class="category-box">
          <ul>
            {% for post in site.posts %}
            {% if post.category contains 'software' or post.category contains 'hardware' %}
            {% if post.class contains 'Resources' %}
            <li>
              <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">
                  <div class='inner_box'>
                    <img src="{{ post.image }}" />
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.description }}</p>
                    <p class='front-date'>{{ post.date | date_to_long_string }}</p>
                </div>
              </a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--RESOURCES ENDS-->

    </div>
  </div>
</div>

<script type="text/javascript">
  document.getElementById("box_asic_design").style.display = "block";
  document.getElementById("tab_asic_design").style.backgroundColor = "wheat";
  document.getElementById("tab_asic_design").style.fontWeight = "bold";
  document.getElementById("tab_asic_design").style.borderBottom = "5px solid #ad8a493b";
</script>