---
layout: page-default
heading: blog
title: Blog
subheading: my journey as an engineer
description: This blog on Deep Learning, VLSI Design and STA is written by Gogul Ilango. Master VLSI Design, Physical Design, Static Timing Analysis, Deep Learning through my articles, tutorials and resources.
color: grad-blog
image: images/gi-logo.jpg
permalink: /
---

{% include colorful-header.html %}

<div class="home-container">
  <div class="home-articles">
    <div class="home-wrapper">

    <div class="category-tab" id="category-tab">
      <ul>
        <li id="tab_asic_design" onclick="showTabBox(this.id)">asic design</li>
        <li id="tab_deep_learning" onclick="showTabBox(this.id)">deep learning</li>
        <li id="tab_machine_learning" onclick="showTabBox(this.id)">machine learning</li>
        <li id="tab_computer_vision" onclick="showTabBox(this.id)">computer vision</li>
        <li id="tab_programming" onclick="showTabBox(this.id)">programming</li>
        <li id="tab_resources" onclick="showTabBox(this.id)">resources</li>
        <li id="tab_random" onclick="showTabBox(this.id)">random</li>
      </ul>
    </div>

      <!--PD STARTS-->
      <div class="blog-category-box" id="box_asic_design">
        <div>
          <h4><span>Static Timing Analysis</span></h4>
          <table>
            {% for post in site.posts %}
              {% if post.categories contains 'hardware' %}
                {% if post.class contains 'STA Concepts' %}
                    <tr> <td><b>{{ post.date | date: "%d/%m/%Y" }}</b></td> <td><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br><i>{{ post.description }}</i></td></tr>
                  {% endif %}
                {% endif %}
            {% endfor %}
          </table>
          <h4><span>Power Distribution Network</span></h4>
          <table>
            {% for post in site.posts %}
              {% if post.categories contains 'hardware' %}
                {% if post.class contains 'PDN Concepts' %}
                  <tr> <td><b>{{ post.date | date: "%d/%m/%Y" }}</b></td> <td><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br><i>{{ post.description }}</i></td></tr>
                {% endif %}
              {% endif %}
            {% endfor %}
          </table>
          <h4><span>Physical Design</span></h4>
          <table>
            {% for post in site.posts %}
              {% if post.categories contains 'hardware' %}
                {% if post.class contains 'PD Concepts' %}
                  <tr> <td><b>{{ post.date | date: "%d/%m/%Y" }}</b></td> <td><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br><i>{{ post.description }}</i></td></tr>
                {% endif %}
              {% endif %}
            {% endfor %}
          </table>
          <h4><span>Intelligence in Physical Design</span></h4>
          <table>
            {% for post in site.posts %}
              {% if post.categories contains 'hardware' %}
                {% if post.class contains 'ML for PD' %}
                  <tr> <td><b>{{ post.date | date: "%d/%m/%Y" }}</b></td> <td><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br><i>{{ post.description }}</i></td></tr>
                {% endif %}
              {% endif %}
            {% endfor %}
          </table>
        </div>
      </div>
      <!--PD ENDS-->

      <!--DL STARTS-->
      <div class="blog-category-box" id="box_deep_learning">
        <div>
          <table>
            {% for post in site.posts %}

            {% if post.category contains 'software' %}
            {% if post.class contains 'Deep Learning' %}
              <tr> <td><b>{{ post.date | date: "%d/%m/%Y" }}</b></td> <td><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br><i>{{ post.description }}</i></td></tr>
            {% endif %}
            {% endif %}
            {% endfor %}
          </table>
        </div>
      </div>
      <!--DL ENDS-->

      <!--ML STARTS-->
      <div class="blog-category-box" id="box_machine_learning">
        <div>
          <table>
            {% for post in site.posts %}

            {% if post.category contains 'software' %}
            {% if post.class contains 'Machine Learning' %}
              <tr> <td><b>{{ post.date | date: "%d/%m/%Y" }}</b></td> <td><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br><i>{{ post.description }}</i></td></tr>
            {% endif %}
            {% endif %}
            {% endfor %}
          </table>
        </div>
      </div>
      <!--ML ENDS-->

      <!--COMPUTER VISION STARTS-->
      <div class="blog-category-box" id="box_computer_vision">
        <div>
          <table>
            {% for post in site.posts %}
            {% if post.category contains 'software' %}
            {% if post.class contains 'Computer Vision' %}
              <tr> <td><b>{{ post.date | date: "%d/%m/%Y" }}</b></td> <td><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br><i>{{ post.description }}</i></td></tr>
            {% endif %}
            {% endif %}
            {% endfor %}
          </table>
        </div>
      </div>
      <!--COMPUTER VISION ENDS-->
    
      <!--CODE STARTS-->
      <div class="blog-category-box" id="box_programming">
        <div>
          <h4><span>Programming Languages</span></h4>
          <table>
            {% for post in site.posts %}
              {% if post.category contains 'software' %}
                {% if post.class contains 'Programming Languages' %}
                    <tr> <td><b>{{ post.date | date: "%d/%m/%Y" }}</b></td> <td><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br><i>{{ post.description }}</i></td></tr>
                  {% endif %}
                {% endif %}
            {% endfor %}
          </table>
          <h4><span>Environment Setup</span></h4>
          <table>
            {% for post in site.posts %}
              {% if post.categories contains 'software' %}
                {% if post.class contains 'Environment Setup' %}
                  <tr> <td><b>{{ post.date | date: "%d/%m/%Y" }}</b></td> <td><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br><i>{{ post.description }}</i></td></tr>
                {% endif %}
              {% endif %}
            {% endfor %}
          </table>
          <h4><span>Tools</span></h4>
          <table>
            {% for post in site.posts %}
              {% if post.categories contains 'software' %}
                {% if post.class contains 'Tools' %}
                  <tr> <td><b>{{ post.date | date: "%d/%m/%Y" }}</b></td> <td><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br><i>{{ post.description }}</i></td></tr>
                {% endif %}
              {% endif %}
            {% endfor %}
          </table>
        </div>
      </div>
      <!--CODE ENDS-->

      <!--RESOURCES STARTS-->
      <div class="blog-category-box" id="box_resources">
        <div>
          <table>
            {% for post in site.posts %}
            {% if post.category contains 'software' or post.category contains 'hardware' %}
            {% if post.class contains 'Resources' %}
              <tr> <td><b>{{ post.date | date: "%d/%m/%Y" }}</b></td> <td><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br><i>{{ post.description }}</i></td></tr>
            {% endif %}
            {% endif %}
            {% endfor %}
          </table>
        </div>
      </div>
      <!--RESOURCES ENDS-->
      <!--RANDOM STARTS-->
      <div class="blog-category-box" id="box_random">
        <div>
          <table>
            {% for post in site.posts %}
            {% if post.category contains 'random'%}
            {% if post.class contains 'Entertainment' %}
              <tr> <td><b>{{ post.date | date: "%d/%m/%Y" }}</b></td> <td><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br><i>{{ post.description }}</i></td></tr>
            {% endif %}
            {% if post.class contains 'Travel' %}
              <tr> <td><b>{{ post.date | date: "%d/%m/%Y" }}</b></td> <td><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br><i>{{ post.description }}</i></td></tr>
            {% endif %}
            {% endif %}
            {% endfor %}
          </table>
        </div>
      </div>
      <!--RANDOM ENDS-->

    </div>
  </div>
</div>

<script type="text/javascript">
  document.getElementById("box_asic_design").style.display = "block";
  document.getElementById("tab_asic_design").style.backgroundColor = "wheat";
  document.getElementById("tab_asic_design").style.fontWeight = "bold";
  document.getElementById("tab_asic_design").style.borderBottom = "5px solid #ad8a493b";
</script>