.about-container {
  background-color: white;
  width: 100%;
}

.about-wrapper {
  width: 50% !important;
  @include mobile {
    width: 100% !important;
  }
}

.about_me_body {
  width: 100%;
  padding: 0px;
  margin: 0px auto;
  position: relative;
  background-color: white;
  @include mobile {
    margin-top: 0px !important;
    padding: 15px;
    border: none;
  }
}

.about_me_body a {
  color: #cf2321 !important;
  @include mobile {
    font-size: 14px !important;
  }
}

.about_me_body p span {
  color: #cf2321;
  padding: 3px 5px !important;
  display: inline;
}

.about-quote {
    padding: 0px 20px;
    color: #bcbcbc;
    width: 85%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0 !important;
    @include mobile {
      width: 100%;
    }
}

.about_me_body p a {
    color: #cf2321 !important;
}